name: Build
on:
  push:
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Node v14
        uses: actions/setup-node@v1
        with:
          node-version: 14
      - name: Get yarn cache
        id: yarn-cache
        run: echo "::set-output name=dir::$(yarn cache dir)"
      - uses: actions/cache@v2
        with:
          path: ${{ steps.yarn-cache.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - name: Install dependencies
        run: yarn
      - name: Compile
        run: yarn build
      - name: Run tests
        run: yarn test
      - name: Upload compiled code as artifact
        uses: actions/upload-artifact@v2
        with:
          name: ghost-cursor
          path: lib/